*{
    margin: 0;
    padding: 0;
  }
  
  a, a:hover{
    text-decoration: none;
  }
  
  body{
    background-color: #777;
  }
  
  .header{
    height: 60px;
    width: 100%;
    min-width: 870px;
    background-color: #242424;
  }
  
  .logo{
    margin-left: 40px;
    float: left;
  }
  
  .logo{
    width: 40px;
    height: 40px;
    float: left;
    transform: translateY(25%);
  }
  
  .logo_text{
    margin-left: 10px;
    float:left;
    transform: translateY(20%);
  }
  
  .logo_text p{
    line-height: 1px;
    float: right;
    color: orange;
  }
  
  .logo_text a{
    font: arial,sans-serif;
    color: white;
    cursor: default;
  }
  
  .logo_text a:hover{
    color: #999;
    cursor: default;
  }
  
  .search{
    margin-left: 30px;
    float: left;
    transform: translateY(50%);
  }
  
  .search input[type="search"]{
    width: 30vw;
    padding: 8px 5px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    outline: 0;
  }
  
  .search input[type="submit"]{
    width: 50px;
    border: none;
    background-color: #444;
    color: white;
    padding: 8px 5px;
    border-radius: 5px;
    outline: 0;
  }
  
  .search input[type="submit"]:active{
    color: #999;
  }
  
  .login{
    margin-right: 20px;
    float: right;
  }
  
  .user_avatar{
    width: 40px;
    float: right;
    transform: translateY(25%)
  }
  
  .user_avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  
  .check_in{
    width: 150px;
    float: right;
    color: white;
    transform: translateY(110%)
  }
  
  .check_in a{
    color: white;
  }
  
  .check_in a:hover{
    color: orange;
  }
  
  .basket{
    margin-right: 30px;
    transform: translateY(60%);
    float: right;
  }
  
  .basket img{
    width: 25px;
    height: 25px;
  }
  
  .main_menu{
    height: 20px;
    background-color: orange;
    text-align: center;
  }
  
  .main_menu a{
    display: block;
    float: left;
    height: 100%;
    width: 25vw;
    line-height: 20px;
    color: #242424;
  }
  
  .main_menu a:hover{
    background-color: white;
    color: orange;
  }
  
  .line{
    width: 100%;
    height: 1px;
    background-color: #242424;
  }
  