{% load static %}

<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="{% static 'main_app\style1.css' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
        {% block title %}Главная{% endblock %} - База знаний
        </title>	
    </head>
	<body>
		<div class="header">
			<a href="{% url 'index' %}" class="logo"><img src="{% static 'main_app\logo.png' %}"></a>
			<div class="logo_text">
				<h3>{{ company_name }}</h3>
			</div>
		</div>
		<ul class="menu">
			<li><a href="{% url 'index' %}">Главная</a></li>
			<li><a href="">Области знаний</a>
				<ul>
                    {% for section in sections %}
                    <li><a href="{% url 'by_section' section.pk %}">{{ section.name }}</a></li>
                    {% endfor %}
				</ul>
			</li>
			<li><a href="">Расширенный поиск</a></li>
			<li><a href="">Обратная связь</a>
				<ul>
					<li><a href="">Мои обращения</a></li>
					<li><a href="{% url 'add_problem' %}">Сообщить о новой проблеме</a></li>
					<li><a href="{% url 'add_solution' %}">Предложить решение проблемы</a></li>
					<li><a href="">Сообщить об ошибке в базе знаний</a></li>
					<li><a href="">Задать вопрос</a></li>
				</ul>
			</li>
			<li><a href="">Избранное</a></li>
			<li><a href="">Контакты</a></li>		
		</ul>
		<div class="content">
            <section>
            {% block content %}
            {% endblock %}
            </section>	
		</div>
		<div class="footer">

        </div>
        
	</body>
</html>
