{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" 
        href="{% static 'main_app\style.css' %}">
        
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <title>
        {% block title %}Главная{% endblock %} - База знаний
        </title>
    </head>
    <body>
        <header>
            <h1>{{ company_name }}</h1>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <hr>
            <a href="{% url 'add_problem' %}">Новая проблема</a>
            <a href="{% url 'add_solution' %}">Предложить решение</a>
            <hr>
            {% for section in sections %}
            <a href="{% url 'by_section' section.pk %}">
            {{ section.name }}
            </a>
            {% endfor %}
        </nav>
        <section>
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>